body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Open Sans",sans-serif;
}

h1 {
    text-align: center;
    font-family: "Caveat", cursive;
    font-size: 4rem;
    color: #ff914d;
}

#mainText {
    text-align: center;
    font-family: "Caveat", cursive;
    font-size: 4rem;
	color: #ff914d;
}

main {
    max-width: 1680px;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.containerName {
    font-size: 1.5rem;
    color: #800080;
    font-weight: bold;
}

#leftSidebar {
    width: 20%;
}

#mainContent {
 width: 80%;
}

#productsDiv {
    display: flex;
    flex-direction: column;
    height: 35%;
    border: 1px dashed;
    background-color:#FFF4E2
}

#productsList {
    display: flex;
    flex-direction: row;
    width: 20%;
    border: 1px dashed;
    background-color:#FFF4E2;
}

#foodName, #img, #productsDiv, #foodSummary {
    width: 65%;
}

#result {
    width: 13rem;
    height: 2.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    background: linear-gradient(#00bf63, #c1ff72);
    border-radius: 1rem;
    border-color: #00bf63;
    text-decoration: none;
}

.containerFood {
    display: flex;
    flex-direction: column;
}

.foodItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px dashed;
    margin-bottom: 0.5rem;
    background-color:#FFF4E2;
}

.percentTailings {
    display: flex;
    flex-direction: row;
}

.gramFood, .percentageFood {
    width: 2rem;
    height: 1rem;
    margin-right: 0.5rem;
    align-self: flex-start;
}

.gramText, .percentText {
    display: inline-block;
    margin-right: 0.5rem;
}

.productsSelect {
    width: 65%;
    margin-right: 0.5rem;
}

.closeBtn {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    text-align: center;
    background-color: #d96140a6;
    margin-right: 0.5rem;
}

#successMessage {
    color: #00bf63;
    padding-bottom: 3rem;
}