body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Open Sans",sans-serif;
}

#mainText {
    text-align: center;
    font-family: "Caveat", cursive;
    font-size: 4rem;
	color: #ff914d;
}

main {
    max-width: 1680px;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.menuRow {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.menuItem, .productsItem, .deleteBtn {
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 1rem;
}

.deleteBtn {
    width: 1.4rem;
    height: 1.4rem;
    text-align: center;
    background-color: #d96140a6;
}

.menuItem, .productsItem {
    color: black;
}