body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Open Sans",sans-serif;
}

#mainText {
    text-align: center;
    font-family: "Caveat", cursive;
    font-size: 4rem;
	color: #ff914d;
}

main {
    max-width: 1680px;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

#menuDiv, #productsDiv {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.mealHeader {
    font-family: "Caveat", cursive;
    font-size: 2rem;
	color: #800080;
}

#listHeader {
    font-family: "Caveat", cursive;
    font-size: 2rem;
	color: #00bf63;
}

.menuRow, .listRow {
    margin: 0 0 0.5rem 2rem;
    margin-bottom: 0.5rem;
}